/* * {
    outline: 1px solid red !important;
   } */
header {
    height: 20px;
}

body {
    background-image: url("https://github.com/Gazer89/week-4-game/blob/master/assests/images/star-wars-wallpaper-40-1024x640.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    }

    button {
        color: white;
        background: red;
        padding: 1%;
    }

    #game {
        font-family: 'Shojumaru', cursive;
        margin: 5%;
        font-size: 50px;
        color: white;
    }

    #play {
        margin-left: 3%; 
        font-family: 'Shojumaru', cursive;
    }

    #playeroptions {
        margin-left: 5%;
    }

    #playername {
        color: white;
        height: 30px;
        margin-left: 8%;
        margin-bottom: 1%;
        font-family: 'Ruda', sans-serif;
        font-size: 25px;
    }

    #playerselected {
        margin-left: 8%;
    }

    #playerhp {
        color: white;
        height: 30px;
        font-size: 25px;
        margin-left: 8%;
        font-family: 'Ruda', sans-serif;
    }

    #fightername {
        color: white;
        height: 30px;
        margin-left: 5%;
        margin-bottom: 1%;
        font-family: 'Ruda', sans-serif;
        font-size: 25px;
    }

    #battle {
        margin-left: 5%;
    }

    #fighterhp {
        color: white;
        height: 30px;
        margin-left: 5%;
        font-family: 'Ruda', sans-serif;
        font-size: 25px;
    }

    #enimieshead {
        color: white;
        height: 30px;
        margin-left: 5%;
        font-family: 'Ruda', sans-serif;
        font-size: 25px;
    }

    #winner {
        color: red;
        height: 50px;
        margin-left: 5%;
        font-family: 'Ruda', sans-serif;
        font-size: 45px;
        margin-top: 3%;
        margin-bottom: 12%;
        font-family: 'Denk One', sans-serif;
    }

    #instruct {
        color: red;
        height: 50px;
        margin-left: 5%;
        font-family: 'Ruda', sans-serif;
        font-size: 35px;
        margin-top: 1%;
        margin-bottom: 5%;
        font-family: 'Denk One', sans-serif;
    }

    #loser {
        color: red;
        height: 35px;
        margin-left: 5%;
        margin-top: 3%;
        margin-bottom: 3%;
        font-size: 45px;
        font-family: 'Denk One', sans-serif;
    }

    #bgenimg {
        margin-left:5%;
        height: 100%;
        width: 90%;
    }

    #charimg {
        height: 220px;
        width: 220px;
        border-color: red;
        border-style: solid;
        border-width: 1px;
        padding: 5px;
        margin: 1%;
    }

    #game {
        height: 100%;
        width: 100%;
    }
